a{
  text-decoration: none;
}

nav a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    background-color: #f2f2f2;
}
  
nav{
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.logo-img{
    width: 40px;
    height: 40px;
}
.logo-img:hover{
    transform: scale(1.1);
    transition: 0.5s ease-out;
    cursor: pointer;
}

.navbar{
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: bold;
    color: #000000;
}

.logo{
  font-size: 20px;
}
.logo a:hover{
  cursor: pointer;
  text-shadow: 1px 1px 30px #000000;
  transition: 0.5s ease-out;
  text-decoration: underline;
  transform: scale(1.1);
}

.menu a:hover{
  text-decoration: underline;
  transform: scale(1.1);
  transition: 0.5s ease-out;
}